<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <p>Test template</p>
    </div>
    <div>
        @RenderBody()
        @await RenderRegionAsync("center")
    </div>
</body>
</html>
